<body>
  <header>
    <img src="./assets/img/logo.svg" alt="NLW COPA logo" />
  </header>
  <main class="main-grid">
    <div class="content">
      <h1>Crie seu próprio bolão da copa e compartilhe entre amigos!</h1>

      <div class="users">
        <ul class="avatars">
            <li class="avatar"></li>
            <li class="avatar"></li>
            <li class="avatar"></li>
            <li class="avatar"></li>
        </ul>
        <p class="users_desc">
          <span class="users__volume">+12.592</span> pessoas já estão usando
        </p>
      </div>

      <div>
        <div class="create-pool">
          <input
            class="create-pool__input"
            type="text"
            placeholder="Qual nome do seu bolão?"
          />

          <button class="create-pool__btn">CRIAR MEU BOLÃO</button>
        </div>
        <p class="instructions">
          Após criar seu bolão, você receberá um código único que poderá usar
          para convidar outras pessoas 🚀
        </p>
      </div>

      <span class="horizontal-divider"></span>

      <div class="info">
        <div class="info__content">
          <img src="./assets/img/icon.svg" alt="" />
          <div class="info-grid">
            <p class="info__content--qtd">+2.034</p>
            <p class="info__content--desc">Bolões criados</p>
          </div>
        </div>

        <span class="vertical-divider"></span>

        <div class="info__content">
          <img src="./assets/img/icon.svg" alt="" />
          <div class="info-grid">
            <p class="info__content--qtd">+2.034</p>
            <p class="info__content--desc">Papites enviados</p>
          </div>
        </div>
      </div>
    </div>
    <img
      class="img-app"
      src="./assets/img/aplicacao-trilha-ignite.png"
      alt=""
    />
  </main>
</body>
