$font-family: 'Roboto', sans-serif;
$yellow: #f7dd43;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 160px;
    padding-top: 50px;
    background-image: url("/assets/img/app-bg.png");
    background-color: #121214;
    background-size: cover;
}

h1 {
    font-family: $font-family;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: white;
    max-width: 489px;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
}

.content {
    display: grid;
    gap: 40px;
    place-items: flex-start;
}

.users {
    display: flex;
}

.avatars {
    max-width: 100%;
    width: 150px;
}

.users__volume {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #129e57;
}

.users_desc {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #e1e1e6;
    align-self: center;
}

.create-pool {
    display: flex;
    align-items: center;
    gap: 8px;
}

.create-pool__input {
    width: 306px;
    height: 58px;
    padding: 16px 24px;
    background-color: #202024;
    border: 1px solid #323238;
    border-radius: 4px;

    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #c4c4cc;
}

.create-pool__btn {
    padding: 21px 24px;
    background-color: $yellow;
    border-radius: 4px;

    font-family: $font-family;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #09090a;
}

.instructions {
    margin-top: 16.43px;
    width: 400px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 22, 4px;
    color: #8d8d99;
}

.horizontal-divider {
    max-width: 489px;
    width: 100%;
    height: 1px;
    background-color: #323238;
}

.info {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    place-content: flex-start;
    max-width: 489px;

    .vertical-divider {
        width: 1px;
        height: 62px;
        background-color: #323238;
        place-self: center;
    }
}

.info-grid {
    display: grid;
    place-items: flex-start;
}

.info__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: $font-family;
    color: #e1e1e6;
    align-items: center;

    .info__content--qtd {
        font-size: 24px;
        line-height: 33.6px;
        font-weight: 700;
    }

    .info__content--desc {
        font-size: 16px;
        line-height: 25.6px;
        font-weight: 400;
    }

    .img {
        max-width: 100%;
    }
}

.img-app {
    position: relative;
    top: -50px;
    max-width: 100%;
    width: 518px;
}